EXPO_PUBLIC_SOTE_API_URL=https://soteai.onrender.com
EXPO_PUBLIC_SOTE_API_KEY=your_sote_api_key_here
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_cloudinary_upload_preset
EXPO_PUBLIC_POLICE_PHONE=your_police_phone
EXPO_PUBLIC_AMBULANCE_PHONE=your_ambulance_phone
EXPO_PUBLIC_FIRE_PHONE=your_fire_phone
EXPO_PUBLIC_EMAIL_SERVICE_ID=your_email_service_id
EXPO_PUBLIC_EMAIL_TEMPLATE_ID=your_email_template_id
EXPO_PUBLIC_EMAIL_PUBLIC_KEY=your_email_public_key
EXPO_PUBLIC_EMAIL_TO=your_email_address
EXPO_PUBLIC_SMS_API_KEY=your_sms_api_key
